.callout {
  @apply shadow-lg;

  padding: 1em;
  border-left: 4px solid;
  margin: 1em 0;
  border-radius: 4px;
  color: black;
}

.callout-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1rem;
}

.callout-title > p {
  margin: 0;
}

.callout-content {
  font-size: 0.875rem;
}

.callout.note {
  @apply border-l-[#0070f3] bg-[#e7f5ff] dark:bg-dark-highlight dark:shadow-md dark:shadow-black;
}

.callout.warning {
  @apply border-l-[#ffa500] bg-[#fff3cd] dark:bg-dark-highlight dark:shadow-md dark:shadow-black;
}

.callout.danger {
  @apply border-l-[#dc3545] bg-[#f8d7da] dark:bg-dark-highlight dark:shadow-md dark:shadow-black;
}

.callout.info {
  @apply border-l-black dark:border-l-white dark:bg-dark-highlight dark:shadow-md dark:shadow-black;
}

.callout.quote {
  @apply border-l-primary-xl dark:border-l-primary-xl dark:bg-dark-highlight dark:shadow-md dark:shadow-black;
}
