.callout {
  @apply shadow-lg;

  padding: 1em;
  border-left: 4px solid;
  margin: 1em 0;
  border-radius: 4px;
  color: black;
}

.callout-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}
.callout-title > p {
  margin: 0;
}

.callout.note {
  border-color: #0070f3;
  background-color: #e7f5ff;
}

.callout.warning {
  border-color: #ffa500;
  background-color: #fff3cd;
}

.callout.danger {
  border-color: #dc3545;
  background-color: #f8d7da;
}
