[data-rehype-pretty-code-figure] pre {
  overflow-x: auto;

  @apply scrollbar-hide bg-zinc-100 dark:bg-zinc-900;
}

[data-rehype-pretty-code-figure] [data-line] {
}

/* 코드블록 번호 */
code > [data-line]:not([data-highlighted-line-id])::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

/* 코드블럭 강조 + */
.prose code span[data-highlighted-line] {
  @apply border-primary-lg bg-opacity-20 dark:bg-opacity-30  bg-primary-sm   dark:bg-primary-sm;
}

[data-highlighted-line-id="plus"]::before {
  content: "+";

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

/* 코드블럭 강조 - */
.prose code span[data-highlighted-line-id="minus"] {
  @apply border-secondary-md bg-opacity-20 dark:bg-opacity-30 bg-red-300 dark:bg-red-400;
}

[data-highlighted-line-id="minus"]::before {
  content: "-";

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

/* 코드블럭 테마 */
code[data-theme*=" "],
code[data-theme*=" "] span {
  @apply text-[--shiki-light]  dark:text-[--shiki-dark];
}

code {
  counter-reset: line;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

/* 코드블럭 제목 */
[data-rehype-pretty-code-title] {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.4rem 1rem;
  width: auto;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-style: none;

  @apply font-light bg-zinc-100 dark:bg-zinc-900;
}

[data-rehype-pretty-code-title] + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 코드블럭 강조 문자 */
[data-highlighted-chars] {
  @apply bg-opacity-40 dark:bg-opacity-30 bg-secondary-md px-1 shadow-md rounded-md;
}
