@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::selection {
  @apply bg-secondary-md bg-opacity-20;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

[cmdk-list] {
  min-height: 300px;
  transition: height 100ms ease;
}

[cmdk-list] {
  scroll-padding-block-start: 8px;
  scroll-padding-block-end: 8px;
}

[cmdk-list-sizer] {
  width: 100%;
  height: 100%;
}

[cmdk-group-heading] {
  @apply text-sm pt-2;
}
